@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Oswald:wght@200;400;600&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&family=Love+Ya+Like+A+Sister&family=Oswald:wght@200;400;600&family=Roboto:wght@100;300&display=swap');

.containerLanding {
    background-color: #FFF5DA;
}

.containerInfo {
    padding-top: 13%;
    height: 100vh;
}

.companyName {
    font-size: 100px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color: #2F1728;
    text-align: center;
}

.companySlogan {
    font-family: 'Bellota', cursive;
    text-align: center;
    margin-top: 2%;
    margin: 0 40px;
    font-weight: bold;
}

.containerButtons {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.btnslanding {
    font-family: 'Balsamiq Sans', cursive;
    background-color: #FE6B71;
    margin-top: 10%;
}

.containerDataButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.containerContactButton {
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
}

.mushroomLogoLanding {
    width: 100%;
}

@media (min-width: 961px) {
    .containerBody {
        top: 88px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .containerInfo {
        padding-top: 13%;
    }

    .companySlogan {
        font-size: 32px;
    }

    .btnslanding {
        font-size: 19px;
        width: 170px;
        height: 50px;
        border-radius: 7px;
    }

    .btnslanding:hover {
        font-size: 20px;
    }

    .containerLogoLanging {
        width: 85%;
    }
}

@media (max-width: 960px) {

    .containerBody {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }

    .landingBox:first-child {
        order: 2;
    }

    .companyName {
        font-size: 60px;
    }

    .companySlogan {
        font-size: 17px;
    }

    .btnslanding {
        font-size: 10px;
        background-color: #FE6B71;
        width: 100px;
        height: 30px;
    }

    .btnslanding:hover {
        font-size: 11px;
    }

    .containerLogoLanging {
        margin: 50px 25% 0px 25%;
        width: 50%;
    }

    .containerInfo {
        padding-top: 3%;
        margin: 0px 0px 25% 0px;
    }
}